Django==4.0
django-debug-toolbar==3.2.2
django-extensions==3.1.5
django-allauth==0.46.0
django-login-required-middleware==0.7.0
django-htmx==1.6.0
pandas-datareader==0.10.0
pytz==2021.3
asgiref==3.4.1
