<div class="position-sticky pt-3">
  <ul class="nav flex-column">

    <li class="nav-item">
      <a class="nav-link" aria-current="page" href="{% url 'core:home' %}">
        Home
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" aria-current="page" href="{% url 'core:transaction-list' %}">
        Transações
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" aria-current="page" href="{% url 'core:income_tax' %}">
        Declaração do IR
      </a>
    </li>
  </ul>

  <ul class="nav flex-column pt-3">
    {% if request.user.is_superuser %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'admin:index' %}" target="_blank">
          Admin
        </a>
      </li>
    {% endif %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'account_logout' %}">
        Sair
      </a>
    </li>
  </ul>
</div>
