{% extends '__base.html' %}
{% load core_tags %}

{% block head_title %}Ativos da Carteira{% endblock %}

{% block title %}Ativos da Carteira{% endblock %}

{% block breadcrumb %}
  {% breadcrumb_url "Home" "core:home" %}
  {% breadcrumb_url "Carteiras" %}
{% endblock %}

{% block content %}
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <td>Ativo</td>
          <td>Preço Médio</td>
          <td>Preço Atual</td>
          <td>Quantidade</td>
          <td>Patrimônio Atual</td>
        </tr>
      </thead>
      <tbody>
        {% for asset in asset_list %}
          <tr>
            <td>{{ asset.ticker__name }}</td>
            <td>{{ asset.avg_price|floatformat:2|show_money }}</td>
            <td>{{ asset.ticker__price|floatformat:2|show_money }}</td>
            <td>{{ asset.total_quantity }}</td>
            <td>{{ asset.total_price|floatformat:2|show_money }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
