{% extends '__base.html' %}
{% load crispy_forms_tags %}
{% load core_tags %}

{% block head_title %}{% if item %}Atualizar{% else %}Novo{% endif %} Ativo{% endblock %}

{% block title %}{% if item %}Atualizar{% else %}Novo{% endif %} Ativo{% endblock %}

{% block breadcrumb %}
  {% breadcrumb_url "Home" "core:home" %}
  {% breadcrumb_url "Carteiras" "core:wallet-list" %}
  {% breadcrumb_url "Ativos Cadastrados" "core:walletitem-list" wallet.id %}
  {% breadcrumb_url "Ativo" %}
{% endblock %}

{% block content %}
  {% crispy form %}
{% endblock %}
