{% extends 'base.html' %}
{% load core_tags %}

{% block head_title %}Declaração do IR{% endblock %}

{% block title %}Declaração do IR{% endblock %}

{% block breadcrumb %}
  {% breadcrumb_url "Declaração do IR" %}
{% endblock %}

{% block content %}
  {% regroup record_list by type as records %}

  <div class="card">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs" id="tab-list" role="tablist">
        {% for type, items in records %}
          <li class="nav-item" role="presentation">
            <button class="nav-link{% if forloop.first %} active{% endif %}" id="{{ type }}-tab"
              data-bs-toggle="tab" data-bs-target="#tab-{{ type }}-content" type="button" role="tab"
              aria-controls="tab-{{ type }}-content" aria-selected="true">
              {% if type == 0 %}
                Ações (<small>Código 31</small>)
              {% elif type == 1 %}
                Fundos Imobiliários (<small>Código 73</small>)
              {% elif type == 2 %}
                BDR's (<small>Código 49</small>)
              {% elif type == 3 %}
                ETF's
              {% endif %}
            </button>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="card-body">
      <div class="tab-content" id="tab-content">
        {% for type, items in records %}
          <div class="tab-pane fade show{% if forloop.first %} active{% endif %}" id="tab-{{ type }}-content" role="tabpanel" aria-labelledby="{{ type }}-tab">
            <div class="row row-cols-1 row-cols-md-2 g-4">
              {% for item in items %}
                <div class="col">
                  <div class="card h-100 mb-2">
                    <div class="card-body">
                      <div class="row">
                        <div class="col">
                          <p>{{ item.ticker__name|upper }} {{ item.quantity }} UNIDS - {{ item.ticker__company_name|upper }}</p>
                          <p>{{ item.avg_price|floatformat:2|show_money }}</p>
                          <button class="btn btn-link btn-sm">Copiar</butt>
                        </div>
                        <div class="col">
                          <p>CNPJ: {{ item.ticker__document }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
