{% extends 'base.html' %}
{% load core_tags %}

{% block head_title %}Excluir Transação{% endblock %}

{% block title %}Excluir Transação{% endblock %}

{% block breadcrumb %}
  {% breadcrumb_url "Transações" "core:transaction-list" %}
  {% breadcrumb_url "Excluir Transação" %}
{% endblock %}

{% block content %}
  <form method="POST">
    {% csrf_token %}

    {% if message %}
      <p>{{ message }}</p>
    {% else %}
      <p>Tem certeza que deseja excluir esta transação?</p>

      <dl class="row">
        <dt class="col-sm-3">Ativo</dt>
        <dd class="col-sm-9">{{ transaction.ticker.name }}</dd>

        <dt class="col-sm-3">Data da Compra</dt>
        <dd class="col-sm-9">{{ transaction.date|date:"d/m/Y" }}</dd>

        <dt class="col-sm-3">Quantidade</dt>
        <dd class="col-sm-9">{{ transaction.quantity }}</dd>

        <dt class="col-sm-3">Preço</dt>
        <dd class="col-sm-9">{{ transaction.price|show_money }}</dd>
      </dl>
    {% endif %}

    <button class="btn btn-danger" type="submit">Excluir</button>
  </form>
{% endblock %}
