{% extends 'base.html' %}
{% load core_tags %}

{% block head_title %}{{ title }}{% endblock %}
{% block title %}{{ title }}{% endblock %}

{% block breadcrumb %}
  {% breadcrumb_url title %}
{% endblock %}

{% block content %}
  <div class="row mb-3">
    <div class="col">
      <a class="float-end" href="{% url 'core:transaction-import' %}">Importar arquivo</a>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col">
      <a class="btn btn-outline-primary" href="{% url 'core:transaction-create' %}">Adicione uma nova transação</a>
    </div>
    <div class="col">
      <a class="btn btn-outline-danger float-end" href="{% url 'core:transaction-delete-all' %}">Excluir Todos</a>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-borderless table-hover">
      <thead>
        <tr>
          <th>Ativo</th>
          <th>Ordem</th>
          <th>Data da Movimentação</th>
          <th>Qtd.</th>
          <th>Preço</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        {% for transaction in transaction_list %}
          <tr>
            <td>
              <a href="{% url 'core:transaction-update' transaction.id %}">
                {% if transaction.ticker.type == 0 %}
                  <span class="badge bg-primary">{{ transaction.ticker.name }}</span>
                {% elif transaction.ticker.type == 1 %}
                  <span class="badge bg-danger">{{ transaction.ticker.name }}</span>
                {% elif transaction.ticker.type == 2 %}
                  <span class="badge bg-warning text-dark">{{ transaction.ticker.name }}</span>
                {% elif transaction.ticker.type == 3 %}
                  <span class="badge bg-dark">{{ transaction.ticker.name }}</span>
                {% endif %}
              </a>
            </td>
            <td>
              <div class="badge bg-{% if transaction.order == transaction.OrderTypes.BUY %}success{% else %}danger{% endif %}">
                {{ transaction.get_order_display }}
              </div>
            </td>
            <td>{{ transaction.date|date:"d/m/Y" }}</td>
            <td>{{ transaction.quantity }}</td>
            <td>{{ transaction.price|show_money }}</td>
            <td>
              <a href="{% url 'core:transaction-delete' transaction.id %}" class="btn btn-sm btn-danger">
                <i class="fa-solid fa-trash"></i>
              </a>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="6">Nenhuma transação registrada.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    {% include "includes/pagination.html" with page_obj=page_obj %}
  </div>
{% endblock %}
